@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {

:root  {
  --background: 22 100% 95%;
  --foreground: 22 5% 0%;
  --card: 22 50% 90%;
  --card-foreground: 22 5% 10%;
  --popover: 22 100% 95%;
  --popover-foreground: 22 100% 0%;
  --primary: 22 89.7% 54.3%;
  --primary-foreground: 0 0% 100%;
  --secondary: 22 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: -16 30% 85%;
  --muted-foreground: 22 5% 35%;
  --accent: -16 30% 80%;
  --accent-foreground: 22 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 22 5% 90%;
  --border: 22 30% 50%;
  --input: 22 30% 18%;
  --ring: 22 89.7% 54.3%;
  --radius: 0.5rem;
}
.dark  {
  --background: 22 50% 5%;
  --foreground: 22 5% 90%;
  --card: 22 50% 0%;
  --card-foreground: 22 5% 90%;
  --popover: 22 50% 5%;
  --popover-foreground: 22 5% 90%;
  --primary: 22 89.7% 54.3%;
  --primary-foreground: 0 0% 100%;
  --secondary: 22 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: -16 30% 15%;
  --muted-foreground: 22 5% 60%;
  --accent: -16 30% 15%;
  --accent-foreground: 22 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 22 5% 90%;
  --border: 22 30% 18%;
  --input: 22 30% 18%;
  --ring: 22 89.7% 54.3%;
  --radius: 0.5rem;
}
}

@layer base {
  :root {
    --navbar-height: 3.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
