@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  
:root  {
  --background: 41 90% 95%;
  --foreground: 41 5% 0%;
  --card: 41 50% 90%;
  --card-foreground: 41 5% 10%;
  --popover: 41 90% 95%;
  --popover-foreground: 41 95% 0%;
  --primary: 41 62.1% 51.4%;
  --primary-foreground: 0 0% 100%;
  --secondary: 41 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 3 30% 85%;
  --muted-foreground: 41 5% 35%;
  --accent: 3 30% 80%;
  --accent-foreground: 41 5% 10%;
  --destructive: 0 90% 30%;
  --destructive-foreground: 41 5% 90%;
  --border: 41 30% 50%;
  --input: 41 30% 18%;
  --ring: 41 62.1% 51.4%;
  --radius: 0.5rem;
}
.dark  {
  --background: 41 50% 5%;
  --foreground: 41 5% 90%;
  --card: 41 50% 0%;
  --card-foreground: 41 5% 90%;
  --popover: 41 50% 5%;
  --popover-foreground: 41 5% 90%;
  --primary: 41 62.1% 51.4%;
  --primary-foreground: 0 0% 100%;
  --secondary: 41 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 3 30% 15%;
  --muted-foreground: 41 5% 60%;
  --accent: 3 30% 15%;
  --accent-foreground: 41 5% 90%;
  --destructive: 0 90% 30%;
  --destructive-foreground: 41 5% 90%;
  --border: 41 30% 18%;
  --input: 41 30% 18%;
  --ring: 41 62.1% 51.4%;
  --radius: 0.5rem;
}

}

@layer base {
  :root {
    --navbar-height: 3.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
